.faq {
  /* padding: 80px 8%; */
  background: #f8f9fb;
}

/* Title */
.faq-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
}

.faq-sub {
  text-align: center;
  color: #030303;
  margin-bottom: 50px;
}

/* Wrapper */
.faq-wrapper {
  max-width: 800px;
  margin: auto;
}

/* FAQ Card */
.faq-item {
  background: white;
  border-radius: 14px;
  margin-bottom: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  overflow: hidden;
}

/* Question */
.faq-question {
  padding: 20px 25px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Answer */
.faq-answer {
  padding: 0 25px 20px 25px;
  color: #000000;
  font-size: 14px;
  line-height: 1.6;
}

/* Tablet */
@media (max-width: 768px) {
  .faq {
    padding: 70px 20px;
  }

  .faq-title {
    font-size: 30px;
  }

  .faq-question {
    font-size: 15px;
    padding: 18px;
  }

  .faq-answer {
    padding: 0 18px 18px 18px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .faq-title {
    font-size: 24px;
  }

  .faq-sub {
    font-size: 14px;
  }

  .faq-question {
    font-size: 14px;
    padding: 16px;
  }

  .faq-answer {
    font-size: 13px;
    line-height: 1.5;
  }

  .faq-item {
    border-radius: 12px;
  }
}